#updateButton{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.modal-body{
    height: 80vh;
    overflow-y: auto;
}