<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Please, Sign Up</h5>
            <form class="form-signin" (submit)="onLoginSubmit()">
              <div class="form-label-group">
                <input
                  type="text"
                  id="inputName"
                  class="form-control"
                  placeholder="Name"
                  [(ngModel)]="name"
                  name="name"
                  required
                  autofocus
                />
                <label for="inputName">Name</label>
              </div>

              <div class="form-label-group">
                <input
                  type="text"
                  id="inputSurname"
                  class="form-control"
                  placeholder="Surname"
                  [(ngModel)]="surname"
                  name="surname"
                  required
                  autofocus
                />
                <label for="inputSurname">Surname</label>
              </div>

              <div class="form-label-group">
                <input
                  type="text"
                  id="inputSSN"
                  class="form-control"
                  placeholder="SSN"
                  [(ngModel)]="ssn"
                  name="ssn"
                  required
                />
                <label for="inputSSN">SSN</label>
              </div>

              <div class="form-label-group">
                <input
                  type="email"
                  id="inputEmail"
                  class="form-control"
                  placeholder="Email"
                  [(ngModel)]="email"
                  name="email"
                  required
                  autofocus
                />
                <label for="inputEmail">Email</label>
              </div>

              <div class="form-label-group">
                <input
                  type="tel"
                  id="inputPhone"
                  class="form-control"
                  placeholder="Phone"
                  [(ngModel)]="phone"
                  name="phone"
                  required
                  autofocus
                />
                <label for="inputPhone">Phone</label>
              </div>

              <div class="form-label-group">
                <input
                  type="text"
                  id="inputPlate"
                  class="form-control"
                  placeholder="Plate"
                  [(ngModel)]="plate"
                  name="plate"
                  required
                  autofocus
                />
                <label for="inputPlate">Plate</label>
              </div>

              <div class="form-label-group">
                <p>Vehicle Type</p>
                <select
                  class="form-control"
                  type="text"
                  name="vehicle"
                  id="inputVehicle"
                  [(ngModel)]="vehicle"
                  name="vehicle"
                >
                  <option *ngFor="let type of vehicleType" [ngValue]="type">
                    {{ type }}
                  </option>
                </select>
              </div>

              <div class="form-label-group">
                <input
                  type="password"
                  id="inputPassword"
                  class="form-control"
                  placeholder="Password"
                  [(ngModel)]="password"
                  name="password"
                  required
                  autofocus
                />
                <label for="inputPassword">Password</label>
              </div>

              <button
                class="btn btn-lg btn-dark btn-block text-uppercase"
                type="submit"
              >
                Register
                <span
                  *ngIf="isLoading"
                  class="spinner-border"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>
            </form>
            <p style="text-align: center; margin-top: 1rem">
              Already have an account??<a
                style="text-decoration: none"
                href="/login"
              >
                Sign In</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
