<div class="wrapper">
  <div *ngIf="isCurrentBooking" class="current-booking">
    <div class="info">
      <p>Street: {{ currentBooking.street }}</p>
      <p>Parking #{{ currentBooking.numberOfParkingLot }}</p>
      <p>Booking Date: {{ currentBooking.timestamp }}</p>
    </div>
    <div class="buttons">
      <button (click)="confirm()" type="button" class="btn btn-success btn-lg">
        Confirm
      </button>
      <button
        (click)="
          maps(
            currentBooking.coordinates.latitude,
            currentBooking.coordinates.longitude
          )
        "
        type="button"
        class="btn btn-info btn-lg"
      >
        Maps
      </button>
      <button (click)="cancel()" type="button" class="btn btn-danger btn-lg">
        Cancel
      </button>
    </div>
  </div>

  <div *ngIf="!isCurrentBooking" (click)="newBooking()" class="new-booking">
    New Booking
    <i class="material-icons"> add_to_photos </i>
  </div>

  <div class="ticket-list">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Street</th>
            <th scope="col">Parking#</th>
            <th scope="col">Expiration</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="ticketClick()">
            <th scope="row">12</th>
            <td>Via Test</td>
            <td>2453</td>
            <td>04/12/2020 10:45</td>
            <td>€3.90</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
