<div class="wrapper">
  <div *ngIf="isCurrentBooking" class="current-booking">
    <div class="info">
      <p>Street: {{ currentBooking.street }}</p>
      <p>Parking #{{ currentBooking.numberOfParkingLot }}</p>
      <p>Booking Date: {{ currentBooking.timestamp }}</p>
      <p>Price/h: €{{ currentBooking.pricePerHour }}</p>
    </div>
    <div class="buttons">
      <button (click)="confirm(currentBooking)" type="button" class="btn btn-success btn-lg">
        Confirm
      </button>
      <button
        (click)="
          maps(
            currentBooking.coordinates.latitude,
            currentBooking.coordinates.longitude
          )
        "
        type="button"
        class="btn btn-info btn-lg"
      >
        Maps
      </button>
      <button (click)="cancel()" type="button" class="btn btn-danger btn-lg">
        Cancel
      </button>
    </div>
  </div>

  <div *ngIf="isCurrentTicket" class="current-booking">
    <div class="info">
      <h3>Current Ticket</h3>
      <p>Street: {{currentTicket.street}}</p>
      <p>Parking #{{currentTicket.numberOfParkingLot}}</p>
      <p>Cost: €{{currentTicket.moneySpent}}</p>
      <p>Expire At: {{currentTicket.expiringTimestamp}}</p>
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-success btn-lg">
        Refresh
      </button>
      
    </div>
  </div>

  <div *ngIf="!isCurrentBooking && !isCurrentTicket" (click)="newBooking()" class="new-booking">
    New Booking
    <i class="material-icons"> add_to_photos </i>
  </div>

  <div class="ticket-list">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Street</th>
            <th scope="col">Parking#</th>
            <th scope="col">Username</th>
            <th scope="col">Cost</th>
            <th scope="col">Expiration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of ticketHistory; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ticket.street}}</td>
            <td>{{ticket.numberOfParkingLot}}</td>
            <td>{{ticket.username}}</td>
            <td>{{ticket.moneySpent}}</td>
            <td>{{ticket.expiringTimestamp}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
