
.wrapper{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#streetCard{
	text-align: center;
	cursor: pointer;
}

#streetCard:hover{
	background-color: #f7f7f7;
	color: #5bc0de;
}