

#streetCard{
	text-align: center;
	cursor: pointer;
}

#backCard{
	text-align:center;
	cursor: pointer;
}

#backCard:hover{
	background-color: #f7f7f7;
	color: #292b2c;
}

#streetCard:hover{
	background-color: #f7f7f7;
	color: #5bc0de;
}

.container{
margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}