.modal {
  background-color: #375a7f;
}
.modal-header {
  color: white;
  background-color: #375a7f;
}

#manual {
  color: white;
  background-color: #375a7f;
}

#automatic {
  color: white;
  background-color: #375a7f;
}
