<div class="modal-header">
  <h4 class="modal-title">{{ notification.title }}</h4>
  <button
    type="button"
    class="btn btn-danger"
    style="margin-left: 0.5rem"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
<div class="modal-body">
  <p>{{ notification.text }}</p>
  <button
    *ngIf="ROLE == 'ROLE_VIGILANT'"
    (click)="openModalVigilantCheckInfo(notification.parkingLot)"
    type="button"
    class="btn btn-info btn-lg btn-block"
  >
    Info
  </button>
  <button
    *ngIf="ROLE == 'ROLE_DRIVER'"
    (click)="openModalRefreshTicket(notification)"
    type="button"
    class="btn btn-info btn-lg btn-block"
  >
    Refresh
  </button>
</div>
