
  <form  (submit)="onLoginSubmit()">
    <h1 >Please Login</h1>
    <label for="inputEmail">Email address</label>
    <input
      type="email"
      id="inputEmail"
      placeholder="Email address"
      [(ngModel)]="email"
      name="email"
      required
    />
    <br><br>
    <label for="inputPassword">Password</label>
    <input
      type="password"
      id="inputPassword"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      required
    />
    <br><br>
    <button
      type="submit"
    >
      Submit
      <span
        *ngIf="isLoading"
        class="spinner-border"
        role="status"
        aria-hidden="true"
      ></span>
    </button>
  </form>

