<div class="modal-header">
    <h4 class="modal-title">Update Email</h4>
    <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
</div>
<div class="modal-body">
	<form #update="ngForm" (ngSubmit)="updateEmail(update)">
		<div class="form-group">
			<label>Current Email</label>
			<input [ngModel]="EMAIL" type="text" class="form-control" name="currentEmail" disabled>
		</div>
		<div class="form-group">
			<label>New Email</label>
			<input [ngModel]="newEmail" type="text" class="form-control" name="newEmail" placeholder="Enter new email">
		</div>
		<button type="submit" class=" btn btn-block btn-success">Update</button>
	</form>
</div>