<div class="modal-header">
  <p style="font-size: 32px" class="material-icons">local_parking</p>
  <h4 class="modal-title">Parking Lot #{{ INFO.numberOfParkingLot }}</h4>
  <p
    (click)="activeModal.close('Close click')"
    style="font-size: 32px; cursor: pointer"
    class="material-icons"
  >
    cancel
  </p>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label
        *ngIf="INFO.sensorState == 'ON' && state != 'OCCUPIED'"
        style="color: #df4759"
        >Sensor State</label
      >
      <label
        *ngIf="
          INFO.sensorState != 'ON' ||
          (INFO.sensorState == 'ON' && state == 'OCCUPIED')
        "
        >Sensor State</label
      >
      <input
        *ngIf="INFO.sensorState == 'ON' && state != 'OCCUPIED'"
        style="background-color: #df4759"
        [ngModel]="INFO.sensorState"
        type="text"
        class="form-control"
        name="sensorState"
        disabled
      />
      <input
        *ngIf="
          INFO.sensorState != 'ON' ||
          (INFO.sensorState == 'ON' && state == 'OCCUPIED')
        "
        [ngModel]="INFO.sensorState"
        type="text"
        class="form-control"
        name="sensorState"
        disabled
      />
    </div>
    <div class="form-group">
      <label
        *ngIf="INFO.sensorState == 'ON' && state != 'OCCUPIED'"
        style="color: #df4759"
        >Status</label
      >
      <label
        *ngIf="
          INFO.sensorState != 'ON' ||
          (INFO.sensorState == 'ON' && state == 'OCCUPIED')
        "
        >Status</label
      >
      <input
        *ngIf="INFO.sensorState == 'ON' && state != 'OCCUPIED'"
        style="background-color: #df4759"
        [ngModel]="state"
        type="text"
        class="form-control"
        name="status"
        disabled
      />
      <input
        *ngIf="
          INFO.sensorState != 'ON' ||
          (INFO.sensorState == 'ON' && state == 'OCCUPIED')
        "
        [ngModel]="state"
        type="text"
        class="form-control"
        name="status"
        disabled
      />
    </div>
    <div class="form-group">
      <label>Street</label>
      <input
        [ngModel]="INFO.street"
        type="text"
        class="form-control"
        name="street"
        disabled
      />
    </div>
    <div class="form-group">
      <label>IsHandicap</label>
      <input
        [ngModel]="INFO.isHandicapParkingLot"
        type="text"
        class="form-control"
        name="isHandicap"
        disabled
      />
    </div>
    <div class="form-group">
      <label>Vehicle Type</label>
      <input
        [ngModel]="INFO.typeOfVehicle"
        type="text"
        class="form-control"
        name="vehicle"
        disabled
      />
    </div>
  </form>
  <button
    *ngIf="state != 'DISABLED'"
    (click)="disablePark(INFO)"
    type="button"
    class="btn btn-danger btn-lg btn-block"
  >
    Disable
  </button>
  <button
    *ngIf="state == 'DISABLED'"
    (click)="enablePark(INFO)"
    type="button"
    class="btn btn-success btn-lg btn-block"
  >
    Enable
  </button>
</div>
