<div class="modal-header">
  <h5 class="modal-title">
    Parking Lot #{{ PARKINGLOT.numberOfParkingLot }} Selected
  </h5>
  <button
    type="button"
    class="btn btn-danger"
    (click)="activeModal.dismiss()"
  >
    Close
  </button>
</div>
<div class="modal-body">
  <p>
    Status:
    <span *ngIf="PARKINGLOT.status != 'FREE'" style="color: red">{{
      PARKINGLOT.status
    }}</span>
    <span *ngIf="PARKINGLOT.status == 'FREE'" style="color: green">{{
      PARKINGLOT.status
    }}</span>
  </p>
  <p>Street: {{ PARKINGLOT.street }}</p>
  <p>Vehicle: {{ PARKINGLOT.typeOfVehicle }}</p>
  <p>Price: ${{ PARKINGLOT.pricePerHours }}/h</p>
  <button (click)="bookAPark(PARKINGLOT)" type="button" class="btn btn-success btn-block">
    Confirm Booking
  </button>
  <button (click)="backButton()" type="button" class="btn btn-secondary btn-block">Back</button>
</div>
