<div class="modal-header">
  <h4 class="modal-title">Handicap Permits Request</h4>
  <button
    type="button"
    class="btn btn-danger"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label>Username</label>
      <input
        [ngModel]="REQUEST.username"
        type="text"
        class="form-control"
        name="username"
        disabled
      />
    </div>
    <div class="form-group">
      <label>Request Date</label>
      <input
        [ngModel]="REQUEST.timestamp"
        type="text"
        class="form-control"
        name="timestamp"
        disabled
      />
    </div>

    <div class="buttons">
      <button
        (click)="acceptRequest(REQUEST)"
        id="updateButton"
        class="btn btn-large btn-success"
      >
        Accept
        <span
          *ngIf="isLoading"
          class="spinner-border"
          role="status"
          aria-hidden="true"
        ></span>
      </button>

      <button
        (click)="declineRequest(REQUEST)"
        id="updateButton"
        class="btn btn-large  btn-danger"
      >
        Decline
        <span
          *ngIf="isLoading"
          class="spinner-border"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </div>
  </form>
</div>
