/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

html,
body {
  height: 100vh;
  width: 100wh;
  background-color: #343a40 !important;
  font-family: 'Roboto Mono', monospace !important;
}

.leafletPopUp{
	font-size: 16px;
  font-family: 'Roboto Mono', monospace !important;
}