<div class="modal-header">
  <h5 class="modal-title">Select Booking Mode</h5>
  <button
    type="button"
    class="btn btn-danger"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
<div class="modal-body">
  <div class="buttons">
    <button (click)="manual()" type="button" class="btn btn-info btn-lg btn-block">
      Manual
    </button>
    <button (click)="automatic()" type="button" class="btn btn-secondary btn-lg btn-block">
      Automatic
    </button>
  </div>
</div>
