button.navbar-toggler.ml-auto.hidden-sm-up.float-xs-right:focus {
  outline: none !important;
}

h6 {
  cursor: pointer;
  outline: none !important;
}

.material-icons {
  font-size: 32px;
  color: white;
  cursor: pointer;
}
