.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.modal {
  background-color: #375a7f;
}
.modal-header {
  color: white;
  background-color: #375a7f;
}
