<div class="modal-header">
  <p style="font-size: 32px" class="material-icons">settings</p>
  <h4 class="modal-title">Select Type</h4>
  <p
    (click)="activeModal.close('Close click')"
    style="font-size: 32px; cursor: pointer"
    class="material-icons"
  >
    cancel
  </p>
</div>
<div class="modal-body">
  <div class="buttons">
    <button
      id="public"
      (click)="public()"
      type="button"
      class="btn btn-lg btn-block"
    >
      Public
    </button>
    <button
      id="personal"
      (click)="personal()"
      type="button"
      class="btn btn-lg btn-block"
    >
      Personal
    </button>
  </div>
</div>
