.modal {
  background-color: #375a7f;
}
.modal-header {
  color: white;
  background-color: #375a7f;
}

.modal {
  background-color: #375a7f;
}
.modal-header {
  color: white;
  background-color: #375a7f;
}

#public {
  color: white;
  background-color: #009688;
}

#personal {
  color: white;
  background-color: #d32f2f;
}
