<div class="modal-header">
  <h4 class="modal-title">Update Plate/Vehicle</h4>
  <button
    type="button"
    class="btn btn-danger"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
<div class="modal-body">
  <form #update="ngForm" (ngSubmit)="updatePlateVehicle(update)">
    <div class="form-group">
      <label>Current Plate</label>
      <input
        [ngModel]="PLATE"
        type="text"
        class="form-control"
        name="currentPlate"
        disabled
      />
    </div>
    <div class="form-group">
      <label>Current Vehicle</label>
      <input
        [ngModel]="VEHICLE"
        type="text"
        class="form-control"
        name="currentVehicle"
        disabled
      />
    </div>
    <div *ngIf="newPlateError" class="alert alert-danger" role="alert">
      Invalid Plate Format
    </div>
    <div class="form-group">
      <label>New Plate</label>
      <input
        [ngModel]="newPlate"
        type="text"
        class="form-control"
        name="newPlate"
        placeholder="Enter new plate"
      />
    </div>
    <div *ngIf="newVehicleError" class="alert alert-danger" role="alert">
      You must select Vehicle Type
    </div>
    <div class="form-group">
      <p>New Vehicle Type</p>
      <select
        class="form-control"
        type="text"
        name="newVehicle"
        id="inputNewVehicle"
        [(ngModel)]="newVehicle"
      >
        <option *ngFor="let type of vehicleType" [ngValue]="type">
          {{ type }}
        </option>
      </select>
    </div>
    <button type="submit" id="updateButton" class="btn btn-block btn-success">
      Update
      <span
        *ngIf="isLoading"
        class="spinner-border"
        role="status"
        aria-hidden="true"
      ></span>
    </button>
  </form>
</div>
