<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Request Handicap Permits</h5>
            <form class="form-signin" (submit)="onSubmit()">
              <div class="form-label-group">
                <input
                  type="text"
                  id="firstname"
                  class="form-control"
                  [(ngModel)]="firstname"
                  name="firstname"
                  disabled
                />
                <label for="firstname">First Name</label>
              </div>

              <div class="form-label-group">
                <input
                  type="text"
                  id="lastname"
                  class="form-control"
                  [(ngModel)]="lastname"
                  name="lastname"
                  disabled
                />
                <label for="lastname">Last Name</label>
              </div>

              <div class="form-label-group">
                <input
                  type="text"
                  id="ssn"
                  class="form-control"
                  placeholder="ssn"
                  [(ngModel)]="ssn"
                  name="ssn"
                  disabled
                />
                <label for="ssn">SSN</label>
              </div>

              <div class="form-label-group">
                <input
                  type="text"
                  id="inputEmail"
                  class="form-control"
                  placeholder="Email"
                  [(ngModel)]="email"
                  name="email"
                  disabled
                />
                <label for="inputEmail">Email</label>
              </div>

              <div class="form-label-group">
                <input
                  type="text"
                  id="phone"
                  class="form-control"
                  placeholder="phone"
                  [(ngModel)]="phone"
                  name="phone"
                  disabled
                />
                <label for="phone">Phone</label>
              </div>

              <div class="form-label-group">
                <input
                  type="text"
                  id="plate"
                  class="form-control"
                  placeholder="plate"
                  [(ngModel)]="plate"
                  name="plate"
                  disabled
                />
                <label for="plate">Plate</label>
              </div>

              <button
                class="btn btn-lg btn-dark btn-block text-uppercase"
                type="submit"
              >
                Submit
                <span
                  *ngIf="isLoading"
                  class="spinner-border"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
