<div class="table-container">
  <button (click)="addParkingLot()" style="margin-top: 1rem" type="button" class="btn btn-success btn-lg">
    Insert Parking Lot
  </button>
  <form>
    <div class="search">
      <h5>Search Parking Lot:</h5>
      <input
        class="search-input"
        size="30"
        type="text"
        [formControl]="filter"
      />
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-hover" style="text-align: center">
      <thead class="thead-dark">
        <tr>
          <th scope="row">#</th>
          <th scope="col">Street</th>
          <th scope="col">Parking Number</th>
          <th scope="col">isHandicap</th>
          <th scope="col">Price</th>
          <th scope="col">Vehicle Type</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
        </tr>
      </thead>
      <tbody *ngIf="show" style="cursor: pointer">
        <tr
          (click)="openRequest(park)"
          *ngFor="let park of parks$ | async; index as i"
        >
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <ngb-highlight
              [result]="park.street"
              [term]="filter.value"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="park.numberOfParkingLot"
              [term]="filter.value"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="park.isHandicapParkingLot"
              [term]="filter.value"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="park.pricePerHours"
              [term]="filter.value"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="park.typeOfVehicle"
              [term]="filter.value"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="park.coordinates.latitude"
              [term]="filter.value"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="park.coordinates.longitude"
              [term]="filter.value"
            ></ngb-highlight>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
