
<div class="table-container">
  <form>
    <div class="search">
      <h5>Search Request:</h5>
      <input class="search-input" size="30" type="text" [formControl]="filter" />
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-hover" style="text-align: center;">
      <thead class="thead-dark">
        <tr>
          <th scope="row">#</th>
          <th scope="col">Username</th>
          <th scope="col">TimeStamp</th>
        </tr>
      </thead>
      <tbody *ngIf="show" style="cursor: pointer;">
        <tr (click)="openRequest(permit)" *ngFor="let permit of permits$ | async; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <ngb-highlight
              [result]="permit.username"
              [term]="filter.value"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="permit.timestamp"
              [term]="filter.value"
            ></ngb-highlight>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
